---
import thumbs from "@/assets/imgs/thumbs.png";
import "./Hero.css";
---

<section
    class="relative w-full min-h-screen bg-black flex items-center justify-center overflow-hidden px-6 md:px-12"
    id="inicio"
>
    <img
        src={thumbs.src}
        alt="Fondo"
        class="absolute inset-0 w-full h-full object-cover opacity-30 mix-blend-screen pointer-events-none animate-bgPulse"
    />

    <div class="relative z-10 w-full text-center select-none">
        <div class="mb-4 md:mb-6 lg:mb-8">
            <span
                class="text-[#05f2af] tracking-[0.2em] text-lg
                sm:text-xl md:text-2xl lg:text-3xl block"
            >
                ✦ CREATIVITY & CODE ✦
            </span>
        </div>

        <h1
            class="relative text-white font-anton italic uppercase leading-none text-[18vw] md:text-[13vw] shine-title"
        >
            STUDIOS <span class="italic text-[#05f2af]">LARIS</span>
            <span class="shine-effect"></span>
        </h1>

        <div class="mt-8 flex flex-wrap justify-center gap-6 select-none">
            <a
                href="#servicios"
                class="italic font-bold text-white border border-white/40 px-10 py-3 relative transition-all duration-300 hover:text-[#05f2af] hover:border-[#05f2af] rounded-4xl overflow-hidden
                before:absolute before:inset-0 before:bg-white/5 before:-skew-x-6 before:transition-all before:duration-300 hover:before:bg-[#05f2af]/10 before:rounded-4xl"
            >
                <span class="inline-block">Servicios</span>
            </a>

            <a
                href="#contacto"
                class="italic font-bold text-[#05f2af] border border-[#05f2af]/40 px-10 py-3 relative transition-all duration-300 hover:text-white hover:border-white rounded-4xl overflow-hidden
                before:absolute before:inset-0 before:bg-[#05f2af]/10 before:-skew-x-6 before:transition-all before:duration-300 hover:before:bg-white/10 before:rounded-4xl"
            >
                <span class="inline-block">Contacto</span>
            </a>
        </div>
    </div>

    <div
        class="absolute inset-0 pointer-events-none mix-blend-overlay opacity-40 bg-linear-to-b from-transparent via-[#05f2af]/20 to-transparent blur-3xl"
    >
    </div>

    <div
        class="absolute bottom-0 inset-x-0 h-1/2 pointer-events-none bg-linear-to-t from-[#8435F2]/40 via-[#8435F2]/20 to-transparent"
    >
    </div>
</section>
