@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.font-anton {
    font-family: 'Anton', sans-serif;
}

html {
    scroll-behavior: smooth;
}