---
import "../styles/global.css";
import profile from "../assets/imgs/profile.png";
import Navbar from "../components/navbar/Navbar.astro";
import Hero from "../components/hero/Hero.astro";
import Servicios from "../components/servicios/Servicios.astro";
import Clientes from "../components/clientes/Clientes.astro";
import Trabajos from "../components/trabajos/Trabajos.astro";
import Contacto from "../components/contacto/Contacto.astro";
import Footer from "../components/footer/Footer.astro";
import ScrollToTop from "../components/ui/ScrollToTop.astro";
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href={profile.src} />
		<title>Studios Laris 🎨</title>
	</head>
	<body>
		<Navbar />
		<Hero />
		<Servicios />
		<Clientes />
		<Trabajos />
		<Contacto />
		<Footer />
		<ScrollToTop />
		<slot />
	</body>
</html>
